@media all and (max-width: 670px){

  .contents-list{
    display: none;
  }

  .tablet{
    display: block;
  }

  .title h1{
    font-size: 25px;
    border: solid 2.5px;
  }

  .main{
    margin-top: 130px;
  }

  .lesson h2{
    font-size: 16px;
    text-align: center;
  }

  .lesson h4{
    text-align: center;
  }

}
